# Airflow
airflow/config/logs/
airflow/config/*.pid
airflow/config/*.log
airflow/config/webserver_config.py

# Airflow runtime files
*.pid
*.log
latest

# Data folder
/data/
/data/*

# Ignore specific data files
*.xlsx
*.csv
*.xml
# Environment files
.env
*/.env
*.env

# Python compiled files
*.pyc
__pycache__/
*.pyo
*.pyd